body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: linear-gradient(90deg, aqua, hotpink);
}

ol, ul {
  padding-left: 30px;
}

.square:focus {
  outline: none;
}

.tabButton:focus{
  outline:none;
}

.buttons{
  height:inherit;
  margin:inherit;
  width:auto;
}

.gridLabel{
  float: left;
  font-size: smaller;
  background-color: white;
  box-sizing: border-box;
  border-right: solid white 4px;
  color:black;
  user-select:none;
}

.gridLabel.sharp{
  background-color: black;
  color: white;
  border-right: solid white 4px;


}

.topButton{
  background-color: black;
  color: white;
  width: auto;
  height: auto;
  top:50%;
  position:relative;
  font-family: "Helvetica";
  font-style: bold;
  font-size:14px;
  margin: 10px;
  padding:5px;
  border:none;
  user-select: none;
  border-radius: none;
}

.tabButton{
  background-color: lightgrey;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border: solid 1px white;
    padding: 6px;
    color: blue;
    transition: 0.2s;
    width: auto;
}

.tabButton.selected{
  background-color: darkgrey;
}

select.topButton{
  border-radius: 0px;
  margin: 0px;
}

.topButton.playing{
  background-color: red;
}

.status {
  margin-bottom: 10px;
}

.topBar{
  height:70px;
  display: flex;
  margin-bottom: 20px;
}

.square{
  background: inherit;
  display: inline-table;
  user-select: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  transition: 0.1s;
}

.square:hover {
  background-color: red;
}

.howto{
font-size: large;
text-align: center;
padding: 10px;
float:right;
border: solid black 2px;

}

.gridContainer{
    margin-right: 0px;
    margin-left: 0px;
    /*padding-top: 15px;*/
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid black;
    border-left: 1px solid black;
    overflow-y: auto;
    position: relative;
}

.gridContainer.newIns{
  border: none;
  text-align: center;
}

.newInst{
  text-align: center;
  background-color: white;
  padding:20px;
  width: 40%;
  margin:0 auto;
}
.bold_text {
    color: white;
    font-family: "Helvetica";
    font-style: bold;
    font-size: 60px ;
    float: left;
    letter-spacing: 10px;
    text-shadow: 3px 2px black;
    line-height: 35px;
    width: 40%;
    margin: 20px;
}

.square.left.clicked{
  border-left: blue solid 3px;
  cursor:grab;
  background-color: black;
}

.square.right.clicked{
  border-right: blue solid 3px;
  cursor:grab;
  background-color: black;
}

.square.right.left.clicked{
  border-right: blue solid 3px;
  border-left: blue solid 3px;
  cursor:grab;
  background-color: black;
}

.grid-row{
  overflow-x: scroll;
  overflow-y: hidden;
  width:auto;
  background-color:white;
  position:relative;
  user-select: none;
}


.grid-row.sharp{
  background-color: grey;

}

.note{
  position: absolute;
  background-color: black;
  height: 100%;
  box-sizing: border-box;
}

.note:hover{
  border: solid 3px blue;
}

.grid-lines{
  position: absolute;
  pointer-events: none;
  border-right: solid 2px black;
  user-select: none;
  height: 1000px;
  z-index: 100;
  top: 0px;
  overflow-y: scroll;
}

.square.clicked{
    cursor:grab;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  background-color: black;
  border-top: solid blue 3px;
  border-bottom: solid blue 3px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}


.kbd-navigation .square:focus {
  background: #ddd;
}
