body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: linear-gradient(90deg, aqua, hotpink);
}

ol, ul {
  padding-left: 30px;
}

.buttons{
  height:inherit;
  margin:inherit;
  width:auto;
}

.gridLabel{
  float: left;
  font-size: smaller;
  background-color: black;
  border: solid grey 1px;
  color:white;
}

.topButton{
  background-color: black;
  color: white;
  width: auto;
  height: auto;
  top:50%;
  position:relative;
  font-family: "Helvetica";
  font-style: bold;
  font-size:14px;
  margin: 10px;
  padding:5px;
  border:none;
  user-select: none;
  border-radius: none;
}

select.topButton{
  border-radius: 0px;
  margin: 0px;
}

.topButton.playing{
  background-color: red;
}

.status {
  margin-bottom: 10px;
}

.topBar{
  height:70px;
  display: flex;
  margin-bottom: 20px;
}

.square {
  background: #fff;
  box-sizing: border-box;
  border-right: 1px solid black;
  border-top: 1px solid black;
  float: left;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  display: inline-table;
  user-select: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  transition: 0.1s;
}

.square:hover {
  background-color: red;
}

.howto{
font-size: large;
text-align: center;
padding: 10px;
float:right;
border: solid black 2px;

}

.gridContainer{
    margin-right: auto;
    margin-left: auto;
    /*padding-top: 15px;*/
    padding-right: 0px;
    padding-left: 0px;
    height:400px;
    width:1000px;
    border: 0.5px solid black;
    border-left: 2px solid black;

}

.bold_text {
    color: white;
    font-family: "Helvetica";
    font-style: bold;
    font-size: 60px ;
    float: left;
    letter-spacing: 10px;
    text-shadow: 3px 2px black;
    line-height: 35px;
    width: 40%;
    margin: 20px;
}

.square.left.clicked{
  border-left: blue solid 3px;

  background-color: black;
}

.square.right.clicked{
  border-right: blue solid 3px;
  background-color: black;
}

.grid-row{
  overflow-x: scroll;
  overflow-y: hidden;
  baclground-color:blue;

}
.square.right.left.clicked{
  border-right: blue solid 3px;
  border-left: blue solid 3px;
  background-color: black;
}

.square.clicked{
  border-left: none;
  border-right: none;
  background-color: black;
  border-top: solid blue 3px;
  border-bottom: solid blue 3px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}


.kbd-navigation .square:focus {
  background: #ddd;
}
